body {
    font-family: sans-serif;
    margin: 0;
    background-color: #f0f0f0;
    text-align: center;
}

header {
    background-color: #2E7D32;
    color: white;
    padding: 15px;

}

.card {
    background: white;
    margin: 15px;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    cursor: pointer;

}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
}

.card:active {
    transform: translateY(0);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

a {
    color: black;
    text-decoration: none;
    display: block;

}



.caest {
    border-left: 5px solid #e74c3c;
}

.cca {
    
    border-left: 5px solid #3498db;
}

.biblio {
   
    border-left: 5px solid #f39c12 ;

}

.clai {
   
    border-left: 5px solid #8e44ad;

}

.cti {
    border-left: 5px solid #2c3e50;

}